.bar_wrapper {
  position: absolute;
  background: #dedede;
  z-index: 50;
  opacity: 0.75;
}

.horizontal_bar_wrapper {
  composes: bar_wrapper;
  height: 15px;
  bottom: 0;
  left: 0;
  right: 0;
}

.vertical_bar_wrapper {
  composes: bar_wrapper;
  right: 0;
  bottom: 0;
  width: 15px;
}

.bar {
  background: grey;
}

.horizontal_bar {
  composes: bar;
  height: 15px;
}

.vertical_bar {
  composes: bar;
  width: 15px;
}
