.table {
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}

.cell {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  border-right: 1px solid black;
}

.body_row {
  &:nth-child(2n + 1) {
    background: #EFEFEF;
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background: #ddd;
}

.row_wrapper {
  position: absolute;
  pointer-events: auto;
  backface-visibility: hidden;
  transition: translate3d 0.45s ease;
}

.header_cell {
  composes: cell;
}

.body_cell {
  composes: cell;
}
